/* general */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

/* nav bar */

/* general */
#mySidenav > a, #search { /* wornt affects a tags that in the search*/
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  display: flex;
  z-index: 50;
  justify-content: space-between; 
  align-items: center;
}

/* icons in side nav */
#mySidenav i,.characters-icon{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
/* hover affects only a tags, not the search */
#mySidenav > a:hover {
  left: 0;
}

#Map-nav {
  top: 70px;
  background-color: #04AA6D;
}

#characters {
  top: 130px;
  background-color: #2196F3;
}
#characters .characters-icon{ /* adjust characters icon */
    width: 23px;         
    height: 23px;     
    padding-right: 3px !important;  
}

#Places {
  top: 190px;
  background-color: #f44336;
}

#contact {
  top: 250px;
  background-color: #555
}

/* search */
#search{
    background-color: #ffa200;
    top: 10px;
    left: 0;
    width: 200px;
    z-index: 100;
}
#search.close {
    left: -180px;
}
#search-input{
    font-family: 'Lexend', sans-serif;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
} 
#search button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    outline: none;
}
#toggle-search-btn { /* white triangle */
    right: 0;
    background: #444;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 3px;
}
#search-input::-webkit-search-cancel-button { /* removing the annoying X mark in search box */
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.search-dropdown { /* dropdown results */
    position: absolute;
    top: 90%;
    left: 0;
    width: 229px; /* adjust to seach width */
    background-color: #ffa200;
    border: 1px solid #ffa200;
    border-radius: 0 0 5px 5px; /* only bottom corners rounded */
    z-index: 100;
    max-height: 250px;
    overflow-y: auto;
}
.search-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.search-dropdown a:hover {
    background-color: #ffc45d;
}

/* map wrapper catch the whole screen */
#map-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


/* adjust the container to the map size */
#map-container {
    display: block;
    width: 8072px; 
    height: 4109px; 
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    display: block;
}

/* outside marker */
.marker {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    transform: translate(-50%, -50%); 
}

/* img inside the marker */
.marker > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

/* pop up window */
.info-popup, .island-popup {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ffcc00;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    z-index: 20;
    cursor: default;
}
.info-popup h3, .island-popup h3 {
    margin: 0 0 10px 0;
    color: #ffcc00;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 204, 0, 0.3);
    /* padding-bottom: 5px; */
}
.info-popup p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.4;
}

.info-popup::after { /* yellow triangle */
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #ffcc00 transparent transparent transparent;
}

.island-area {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;

}
/* .island-popup {
    display: none;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
} */
/* shwing area. DELETE AT RELEASE */
.island-area:hover {
    background: rgba(255, 0, 0, 0.2);
}






